/* Général ------------------------------------------------------------------------------------- */
body, p, legend, label, input {
	font: normal 12pt verdana, helvetica, sans-serif;
}
span{
	font-weight: bold;
}
table, th, td {
	border: 1px solid #0000a0;
}

table {
	border-collapse: collapse;
	width: 80%;
}

th {
	height: 20px;
	background-color: #0000a0;
	color: white
}

th, td {
	padding: 10px;
	text-align: center;
	vertical-align: center;
}

tr:hover {
	background-color: #ff8080
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
	padding: 10px;
	border: 1px #0568CD solid;
	margin: 10px;
	width : 50%;
}


legend {
	font-weight: bold;
	color: #0568CD;
	font-size: 15pt;
}

form label {
	float: left;
	width: 250px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
}

input[type=text] {
	border: 2px solid #0000a0;
	border-radius: 4px;
}

input[type=text]:focus {
	background-color: #ff8080;
	color: black;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #0000a0;;
	border: none;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
	color: #c00;
}

.erreur {
	color: #900;
}

.succes {
	color: #090;
}

.info {
	font-style: italic;
	color: #E8A22B;
}

/* Blocs constituants -------------------------------------------------------------------------- */
div#menu {
	border: 1px solid #0568CD;
	padding: 10px;
	margin: 10px;
}

div#corps {
	margin: 10px;
}